<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style>
      #menu {
        position: absolute;
        top: 0;
        left: 50px;
        right: 0;
        padding: 10px;
      }

      #map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    </style>
    <link rel="stylesheet"
          href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet"
            href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.css">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='lib/leaflet.markercluster-1ac2d9e/MarkerCluster.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='lib/leaflet.markercluster-1ac2d9e/MarkerCluster.Default.css') }}">
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.2.1/lodash.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.min.js"></script>
    <script src="{{ url_for('static', filename='lib/leaflet.markercluster-1ac2d9e/leaflet.markercluster.js') }}"></script>

  </head>

  <body>
    <div id="map"></div>

    <div id="menu">
      <input type="hidden" name="brands" placeholder="alege banca">
    </div>

    <script>
      {%- set js_app = {
          'brands': brands,
          'center': center,
          'bbox': bbox,
          'draw_bbox': config['DEBUG'],
          'data_url': url_for('static', filename="data.json"),
        } %}
      window.app = {{ js_app|tojson|safe }};
    </script>

    <script src="{{ url_for('static', filename="script.js") }}"></script>
  </body>
</html>
